@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  font-family: "Inter", sans-serif;
}

.desktop { 
  display: none;
}
.background-image {
  background-image: url(img/white.jpg );
  background-size: cover;
  filter: blur(10px);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}


.navbar-brand {
  font-weight: bold;
  color: #7843e9;
  &:hover { 
    color: #7843e9;
  }
}

.navbar {
  background-color: #fff;
}
.nav-item,
.active {
  font-weight: 600;
}

.nav-item {
  padding: 15px 20px;
}

.nav-link {
  position: relative;
}

.nav-link:after {
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #7843e9;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}

.nav-link:hover:after {
  width: 100%;
  left: 0;
}

.nav-link:hover { 
  color: #7843e9;
}

/* Hero */

.full-height {
  height: 100vh;
  position: relative;
}


/* aniamtion */
.scroll {
  margin: 0 auto;
  bottom: -130px;
  width: 60px;
  height: 60px;
  border: 2px solid #7843e9;
  border-radius: 50%;
  position: relative;
  animation: down 1.5s infinite;
  -webkit-animation: down 1.5s infinite;
  &::before {
    content: "";
    position: absolute;
    top: 15px;
    left: 18px;
    width: 18px;
    height: 18px;
    border-left: 2px solid #7843e9;
    border-bottom: 2px solid #7843e9;
    transform: rotate(-45deg);
  }
}


@keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

@-webkit-keyframes down {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translateY(15px);
  }
  40% {
    transform: translate(0);
  }
}

/* end animaiton */

.head {
  font-weight: bold;
  font-size: 4rem;
}

.texthead {
  font-size: 2rem;
  /* text-transform: uppercase; */
  margin-bottom: 3rem;
}

.btEx {
  text-decoration: none;
  font-weight: bold;
  border: 2px solid #7843e9;
  padding: 1rem 2rem;
  border-radius: 100px;
  color: #7843e9;
  &:hover {
    background-color: #7843e9;
    color: #fff;
  }
}

/* Introduction */

#introduction {
  scroll-margin-top: 100px;
}

.intro-head {
  font-weight: bold;
  text-transform: uppercase;
}

.purple-underline { 
  border-bottom: 4px solid #7843e9!important;
  padding-bottom: 0.5rem!important;
}

.underline {
  height: 2px;
  width: 50px;
  background-color: #7843e9;
}

.profile_owner {
  border-radius: 20px;
}

.content-intro {
  > p {
    font-size: 1.3rem;
  }
}

.title-intro {
  font-size: 1.8rem;
  font-weight: bold;
}

.socail > h5 {
  font-size: 1rem;
}

.contact-email { 
  display: flex;
  > a { 
    position: relative;
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
  }
  > a::after { 
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #7843e9;
    transition: width 1s ease;
  }
  > a:hover::after { 
    width: 100%;
  }
}

.skill-button {
  display: flex;
  flex-wrap: wrap;
}

.bt-div {
  display: inline;
  margin: 0 1rem 1rem 0;
  background-color: #e6e6e6;
  color: #666;
  font-weight: 600;
  padding: 1rem;
  border-radius: 10px;
}

.concial {
  color: #666;
  padding-right: 1rem;

  &:hover {
    color: #7843e9;
  }
}

.mt-10 {
  margin-top: 6rem;
}

.icon {
  width: 100px;
  height: 100px;
  margin-right: 3rem;
}

/* .left-side {
  > .greeting,
  .intro {
    font-size: 30px;
  }

  > h1 {
    font-size: 60px;
  }

  > .btGit {
    background-color: #f1a70b;
    border-radius: 20px;
    padding: 20px;
    border: none;
    font-size: 20px;

    > .icon {
      padding-right: 15px;
    }

    &:hover {
      background-color: white;
    }
  }
} */

.runderline {
  text-decoration: none;
}

.border {
  border-radius: 20px;
}

/* Excercise */
#exercise {
  scroll-margin-top: 100px;
}

/* Animation Zoom image */
.img-hover-zoom {
  cursor: pointer;
  overflow: hidden;
}

.img-hover-zoom a img {
  transition: transform 0.5s ease;
}

.img-hover-zoom .card-body a {
  text-decoration: none;
  color: black;
}

.img-hover-zoom:hover {
  > a img {
    transform: scale(1.05);
  }
  > .card-body {
    > .textHover {
      font-size: 0;
      &::before {
        font-weight: 800;
        color: #7843e9;
        font-size: 16px;
        content: attr(data-hover);
      }
    }
  }
}

/* End of animation  */

.exercise-background {
  background-color: #fafafa;
}

/* Footer */
.bi:hover { 
  color: #7843e9;
}


/* Responsive */

@media screen and (max-width: 768px) {
  .scroll {
    display: none;
  }

  .content-intro {
    text-align: center;
  }
  .title-intro,
  .intro-head {
    margin-top: 1rem;
  }
  .head {
    font-size: 2.5rem;
  }
  .texthead {
    font-size: 1.2rem;
  }
  .skill-button {
    justify-content: center;
  }
  .social { 
    justify-content: center;
  }

  .contact { 
    margin-top: 1rem;

  }

  .exe-card { 
    margin-bottom: 1rem!important;
  }
}

@media screen and (min-width:768px) and (max-width:992px){

  .scroll { 
    display: none;
  }

  .social { 
    justify-content: center;
  }

  .title-intro,
  .intro-head {
    margin-top: 1rem;
    text-align: center;
  }

  .skill-button {
    justify-content: center;
  }

}

@media screen and (max-width: 576px){
  .foot-text-center > *{
    justify-content: center!important;
  }
  .foot-setting {
    flex-direction: column;
    justify-content: center;
  }
}



  @media screen and (min-width:992px) and (max-width:1199px){
    .desktop { 
        display: block;
    }
    .mobile { 
      display: none;
    }
} 